@media (max-width: 1279px){
	.section-header {height: 800px;}
	.padding {padding: 150px 10px;}
	.title {font-size: 80px;}
}

@media (max-width: 767px){
	.section-header {height: 665px;}
	.padding {padding: 150px 10px;}
}
@media (max-width: 659px){
	.padding {padding: 50px 10px;}
	.title {text-align: center;}
	.header-text {font-size: 22px;}
}