.section-padding {padding: 100px 0px;}
.padding-small {padding: 40px 0px;}
.logo-text {font-family: "Pacifico";}

.pointer {
	position: absolute;
	bottom: 3%;
    left: 50%;
}

.pointer a, .pointer i {color: white; padding: 0; margin: 0; border: 0;}

/** HEADER */
.section-header {
    width: 100%;
    height: 950px;
    position: relative;
    background: url(../img/bg-header.jpg) top no-repeat;
    border-top: 15px #17c2a4 solid;
}
.title {
    font: 100px "Pacifico", cursive;
    color: white;
}
.padding {padding: 250px 10px;}

.header-text {
    font: 500 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    line-height: 35px;
    padding-top: 20px;
}

/** SECTION WHY SMOOTHIE */
.section-why {background-color: #17c2a4; position: relative;}

.why-text h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 56px;
    font-weight: 600;
    color: white;
    letter-spacing: 4px;
}
.why-text span {	font-family: "Pacifico";}

.why-text p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 26px;
    color: white;
    padding: 0 3px 50px 0;
}
.hr-why {
    width: 100px;
    border: 0;
    height: 0;
    box-shadow: 0 0 4px 2px #14a58c;
}
.icon-text h4 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: white;
    margin-top: 60px;
}
.icon-text p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: white;
    margin-top: 20px;
}

/** SECTION REVIEWS */
.section-reviews {background-color: #ad70d8; position: relative;}

.reviews-text h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 56px;
    font-weight: 600;
    color: white;
    letter-spacing: 4px;
}
.hr-reviews {
    width: 100px;
    border: 0;
    height: 0;
    box-shadow: 0 0 2px 2px #9360BA;
}
.reviews-text p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: white;
    padding: 0 0 80px 0;
}
.reviews-text-italic {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-style: italic;
    text-align: left;
    line-height: 30px;
    color: white;
    margin-left: 100px;
    margin-right: 20px;
}
.reviews h3 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: white;
    margin-left: 125px;
    margin-right: 10px;
    margin-bottom: 2px;
    text-align: left;
}
.reviews h5 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #facd96;
    margin-left: 125px;
    margin-right: 10px;
    text-align: left;
    margin-top: 0px;
}
.float-left {
    float: left;
    padding: 0px 30px 40px 0px;
}
.col-margin {margin-bottom: 50px;}

/** SECTION SIGN UP */
.section-sign-up {background-color: #ffdd99; position: relative;}

.sign-up-text h3 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: black;
}
.sign-up-text p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    color: black;
}
.input-group-lg .form-control{
	height: 60px !important;
    width: 70% !important;
    border-top-left-radius: 16px !important;
    border-bottom-left-radius: 16px !important;
    border-right: transparent;
    padding-left: 20px !important;
}
.input-group-btn .btn {
    height: 60px !important;
    width: 70%;
    font: bold 22px "Titillium Web", sans-serif !important;
    color: white;
    background-color: #17c2a4;
    border-top-right-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
    padding: 0 !important;
}
.input-group {display: block !important;}
.fa {margin: 10px 10px;}
.fa-facebook-official{color: #3b5998;}
.fa-twitter-square{color: #4099ff;}
.fa-youtube-play{color: #e52d27;}
.fa-instagram{color: #B52DEF;}

footer {
	background-color: #17c2a4;
	height: 40px;
	color: white;
}
footer span {	
	padding: 0 10px;
	border-right: 1px solid #fff;
}
footer a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	line-height: 40px;
	padding: 0 10px;
	border-right: 1px solid #fff;
}
footer a:link, a:visited {
	text-decoration: none;
    cursor: auto;
}